* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

 header{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#00b7ff;
}

.logo {
  width: 100px;
  height: 100px;
}

.name {
  font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: black;
}

.externals {
  color: blue;
text-decoration: none;
}

.dropbtn {
    background-color: #00b7ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(17, 82, 143, 0.8);
    z-index: 1;
    font-family: 'Poppins', sans-serif;
  }

  .dropdown-content a {
    display: block;
    transition: 300ms ease-in;
    color: black;
    padding: 12px 16px;
    text-decoration: none;    
    font-family: 'Poppins', sans-serif;
  }

  .dropdown-content a:hover {
    background-color: turquoise;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    transition: color 300ms ease-in, background-color 300ms ease-in;
    background-color: turquoise;
  }

.title {
  text-align: center; 
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .gradient {
  background-image: linear-gradient(to bottom right, skyblue, gray);
} */

h1 {
  font-family: 'Poppins', sans-serif;
}

.title p {
  font-family: 'Poppins', sans-serif;
}

.synopsis {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

h2 {
  font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: #00b7ff;;
}

footer {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100vw;
  background-color: #00b7ff;
  border-style: solid none;
  border-color: #00b7ff;
  border-width: 2.5px;
}

.redirect {
  font-family: 'Poppins', sans-serif;
    font-size: 13px;
    background-color:#f1f1f1;
    font-weight: 300;
    text-decoration: none;
  display: flex;
  justify-content: center;
}

.redirect:hover {
  background-color: #ebe3e3;
}